<div data-controller="fade-toggle" data-fade-toggle-target="section"
     class="position-relative opacity-0 " style=" overflow: hidden;transition: opacity 2s ease-in-out;">
  
    <div class="container font_inter24" data-controller="fade-in" style='font-weight:bold;'>
        <br>
        <div class="global_header text-center global_blue" style="letter-spacing: 5px;">PERSONAL DATA INVENTORY</div>
        <br>
        <!--<div class="text-center">Christ-Centered Counseling for Real-Life Struggles</div>-->
        <br>
         <div class="font_inter18Thin" style="font-style: italic;">
            <%= @lowcountry_affiliation.data_text%>
        </div>
    </div>
     <br>
    <div class = "text-center font_inter24" style="font-style:italic;">
        To help us better understand how we can serve you, please complete the form below, Note: Each individual seeking counseling should complete a separate form, except for children under age 12.
    </div>
    <br>
   
</div>
