<%#= render partial: 'shared/landing_image', locals: {image: @image, image_content: @request_counseling_landing}%>
<br>
<div style="padding-top: 100px;"></div>
<%= render 'pdi_forms/lowcountry_affiliation'%>
<%= render 'pdi_forms/new_form'%>
